#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#root > div {
  display: flex;
  flex-direction: column;
}

#root > div > div:nth-child(2) {
  display: flex;
  flex-direction: row;
}

#root > div > div:nth-child(2) > div:nth-child(1) > input {
  display: flex;
  width: 33vw;
  border-radius: 5px;
}

#root > div > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  margin-left: 0.5vw;
  width: 1.5vw;
  height: 2.5vh;
  background-color: red;
  border-radius: 5px;
}

#allno {
  background-color: red;
  width: 35vw; 
  color:white;
  border-radius: 5px;
}